body {
    background-color: blueviolet;
    width: 100vh;
    height: 100vh;
    padding: 120px;
    margin-left: 300px;
}


.o-form {
    border: solid  #999;
    border-radius: 30px;
    width: 500px;
    height: 400px;
    display: flex;
	justify-content: center;
	flex-direction: column;
    margin-bottom: 100px;
    text-align: center;
    background: white;
}

.o-form__data {
    height: 20px;
    border: solid 1px blueviolet;
    width: 200px;
    outline: 0;
  
}

.o-form__text {
    display: inline-block;
    width: 100px;
}
